[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "0.13.9"
SQLAlchemy = "1.4.49"
flask = "*"
flask-sqlalchemy = "3.0.3"
Werkzeug = "2.2.2"
flask-migrate = "*"
sqlalchemy-serializer = "*"
importlib-metadata = "6.0.0"
importlib-resources = "5.10.0"
flask-bcrypt = "*"
python-dotenv = "*"
flask-cors = "*"
faker = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
